<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Demo Reactjs</title>
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script src="lib/browser.min.js"></script>
    <style type="text/css">
      .mauvang{
        background-color:yellow;
      }
    </style>
  </head>
  <body>
    <div id="root">
    </div>
    <script src="xuli.js" type="text/babel">

    </script>
  </body>
</html>
